# keil files
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.omf
*.plg
*.rpt
*.__i
*.crf
*.axf
*.tra
*.dep
*.JLinkLog.txt
*.iex
*.htm
*.sct

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# vim tmp files
*~
*.swp

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
